body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  align-items: center;
  justify-content: center;

  margin: 50px;
}

table {
  border-collapse: collapse;
}

td {
  border: solid 1px black;
  width: 60px;
  height: 60px;

  vertical-align: middle;
  text-align: center;

  cursor: pointer;
}

td .value { display: none; }

td.selected {
  background-color: #bdf78f;
}

td.disabled {
  background-color: #dedede;
  cursor: disabled;
}

td.selected span,
td.disabled span {
  display: block;
}
